@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@100;200;600&display=swap"); // headings - poppins: semibold, 100 ... open sans: 400;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Global variables
:root {
  // Color
  --color-primary: #262626; // var(--color-primary)
  --color-secondary: #ff7300; // var(--color-secondary)
  --color-white: white; // var(--color-white)

  // Font
  --ff-heading: "Poppins", sans-serif; // var(--ff-heading)
  --ff-main: "Open Sans"; // var(--ff-main)
  --high-lines: 2rem;

  --normal-text-size: clamp(0.75rem, 1rem, 1.5rem);

  // Margins and padding
  --phone-inline-margin: 0.5rem;
}

body {
  // background-color: pink;
  overflow-x: hidden;
}

// .body--wrapper{
//   height: 100vh;
//   overflow-y: auto;
//   perspective: 300px;
// }

// Buttons

.btn {
  font-size: 0.9rem;
  white-space: nowrap;
  width: 10rem;
  border: none;
  color: var(--color-white);
  padding: 0.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 2rem auto 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
}

// headings

.section--heading {
  text-align: center;
  margin-top: 2rem;
  font-family: var(--ff-heading);
  font-size: 2rem;
}

// SECTION general

// revealing elements on scroll shit
.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

// SECTION nav for mobile

.nav--hidden {
  transition: all 0.5s;
  opacity: 0;
}

.nav--bar {
  background-color: var(--color-primary);
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  width: 100vw;
  .logo {
    img {
      height: 7rem;
    }
  }
}
.nav--container__mobile {
  position: fixed;
  top: 0;
  width: 100vw;

  transition: all 0.5s ease-in-out;
  background-color: white;
  height: 100vh;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12vh auto;

    li {
      display: block;
      font-family: var(--ff-heading);
      padding-block: 2.3rem;
      width: 8rem;
      text-align: center;
      border-bottom: 1px solid black;
      a {
        text-decoration: none;
      }
    }
  }
  transition: opacity 0.5s;
  z-index: 6;
}

// Burger menu

.menu-btn {
  margin-right: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 10;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 1.8rem;
  height: 0.2rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 1.8rem;
  height: 0.2rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-9px);
}
.menu-btn__burger::after {
  transform: translateY(9px);
}
/* ANIMATION for the burger menu */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background: black;
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background: black;
}

// SECTION hero and title section

.hero--container {
  width: 100vw;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  z-index: -1;
  // height: 100%;
  img {
    width: 100%;
    filter: grayscale(50%);
  }
  .desk--top__imgs {
    display: none;
  }
  h1,
  p,
  .line {
    position: absolute;
    top: 11rem;
    color: white;
    font-family: var(--ff-heading);
  }
  h1 {
    white-space: nowrap;
    font-size: 8vw;
  }
  p {
    font-size: 6vw;
    display: block;
    margin-top: 10vh;
    font-weight: 200;
  }
  .line {
    // position: relative;
    border-left: 3px solid white;
    display: block;
    height: 30vh;
    margin: 0 auto;
    width: 1px;

    margin-top: 20vh;
  }
}

// SECTION info block one

.sweat {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  width: 80vw;
  margin: 2rem auto;
  font-family: "open sans";
  line-height: var(--high-lines);
  .btn--start__sweating {
    background-color: white;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
  }
  .btn--start__sweating:hover {
    background-color: var(--color-primary);
    color: white;
  }
}

// SECTION info block two RESULTS

.feature--block {
  position: absolute;
  top: 0;
  background-color: var(--color-secondary);
  height: 100vw;
  width: 100vw;
  z-index: -2;
}

.results {
  position: relative;
  text-align: right;
  img {
    position: relative;
    margin: 2rem 1rem;
    text-align: right;
    width: 80vw;
    z-index: 4;
    // ::before {
    //   content: "hello ";
    //   width: 100%;
    //   height: 300rem;
    //   background-color: var(--color-secondary);
    // }
  }
  .desktop--img {
    display: none;
  }

  .info--container {
    border-top: 2px solid white;
    margin-top: -4.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--color-primary);
    .results--heading {
      margin-top: 7rem;
      font-family: var(--ff-heading);
      width: 80vw;
      font-size: 2rem;
      text-align: center;
      color: var(--color-secondary);
    }
    .results--info {
      width: 80vw;
      margin: 2rem auto 1rem;
      font-family: "open sans";
      color: white;
      text-align: center;
      line-height: var(--high-lines);
    }
    .btn--results {
      margin: 2rem auto 2rem;
      border: 2px solid white;
      background-color: var(--color-primary);
      color: white;
    }
    .btn--results:hover {
      background-color: white;
      color: var(--color-primary);
    }
  }
}

// SECTION slider section

.slider--facility {
  padding-top: 7rem;
  .slider {
    width: 100%;
    height: 255px;
    margin: 0 auto;
    position: relative;
    top: 2rem;
    /* IN THE END */
    overflow: hidden;
  }

  .slide {
    position: absolute;
    top: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    /* THIS creates the animation! */
    transition: transform 1s;
  }

  .slide > img {
    /* Only for images that have different size than slide */
    max-width: 100%;
    min-height: 255px;
    max-height: 30rem;
    object-fit: cover;
  }

  .dots {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;

    /* Only necessary when overlying images */
    box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7);
  }

  .dots__dot:last-child {
    margin: 0;
  }

  .dots__dot--active {
    background-color: #fff;
    // background-color: #888;
    opacity: 1;
  }

  .btn--container {
    display: flex;
    position: relative;
    width: 100%;

    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    top: calc(
      50% - (2rem / 2)
    ); //2rem is the height of the buttom so this may change.

    .slider__btn {
      position: absolute;
      top: 0.8rem;
      z-index: 5;
      border: none;
      background: rgba(255, 255, 255, 0.4);
      font-family: inherit;
      color: var(--color-primary);
      height: 80rem;
      width: 3rem;
      font-size: 2rem;
      cursor: pointer;
    }

    .slider__btn--left {
      left: 6%;
      transform: translate(-50%, -50%);
    }

    .slider__btn--right {
      right: 6%;
      transform: translate(50%, -50%);
    }
  }
}

// SECTION our methods section

.methods {
  padding-top: 7rem;
  text-align: center;

  .feature--block {
    display: none;
  }

  img {
    width: 100%;
    overflow: hidden;
    margin-top: 2rem;
    height: auto;
  }
  .desktop--img {
    display: none;
  }
  h2 {
    margin-block: 2rem 0.5rem;
    font-family: var(--ff-heading);
  }
  p {
    max-width: 80%;
    margin: 0 auto;
    font-family: var(--ff-main);
    line-height: 1.7rem;
  }
  .btn--our__classes {
    background-color: white;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    margin-top: 5rem;
  }
  .btn--our__classes:hover {
    background-color: var(--color-primary);
    color: white;
  }
}

// SECTION contact us section

.contact--section__wrapper {
  padding-top: 7.4rem;
  // background image before the contact form
  .background--img {
    background-image: url(/images/yoga.jpeg);
    background-size: cover;
    background-position: center -150px;
    background-repeat: no-repeat;
    background-position: center;

    width: 100vw;
    height: 30vh;
    // margin-top: 5rem;
  }

  .contact--section {
    background-color: var(--color-primary);
    width: 95%;
    margin: -4rem 0 0 5%;

    text-align: center;
    .section--heading {
      color: var(--color-secondary);
      padding: 2rem;
    }

    .form--container {
      display: grid;
      width: 90%;
      margin: 0 auto;
      input {
        width: 100%;
        font-family: var(--ff-main);
        margin-top: 2.2rem;
        font-size: 1.1rem;
        border: none;
        border-bottom: 1px solid var(--color-white);
        background-color: var(--color-primary);
        color: var(--color-white);
      }
      .message {
        font-family: var(--ff-main);
        background-color: var(--color-primary);
        height: 10rem;
        width: 100%;
        font-size: 1.1rem;
        border: none;
        border-bottom: 1px solid var(--color-white);
        margin-top: 2.2rem;
        color: var(--color-white);
      }
      // This is styling for the placeholder in the inputs
      ::placeholder {
        color: var(--color-white);
        opacity: 1; /* Firefox */
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: var(--color-white);
      }

      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: var(--color-white);
      }
      // This is styling for the Message text area
      textarea::-webkit-input-placeholder {
        color: var(--color-white);
      }

      textarea:-moz-placeholder {
        /* Firefox 18- */
        color: var(--color-white);
      }

      textarea::-moz-placeholder {
        /* Firefox 19+ */
        color: var(--color-white);
      }

      textarea:-ms-input-placeholder {
        color: var(--color-white);
      }

      // Button styling

      .btn--submit {
        margin-block: 3rem 4rem;
        border: 2px solid white;
        background-color: var(--color-primary);
        color: white;
      }
      .btn--submit:hover {
        background-color: white;
        color: var(--color-primary);
      }
    }
  }
}
// SECTION buisiness details footer

.gym--details {
  margin-top: 4rem;
  padding: 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  .details {
    margin-top: 2rem;
  }
  h3 {
    font-family: var(--ff-heading);
  }
  p {
    font-family: var(--ff-main);
    margin-top: 1rem;
    line-height: 1.5rem;
  }

  .logo {
    display: none;
  }

  .nav--details {
    display: none;
  }
}

// SECTION copy right section

.copyright--section {
  height: 5rem;
  background-color: var(--color-secondary);
  text-align: center;
  padding: 2rem;
}

// Media queries

@media only screen and (min-width: 600px) {
  body {
    // background-color: rgb(255, 89, 0);
  }

  // headings

  .section--heading {
    // text-align: center;
    // margin-top: 2rem;
    // font-family: var(--ff-heading);
    font-size: 3rem;
  }

  // SECTION nav into desk top nav

  .nav--hidden {
    transition: all 0.5s;
    opacity: 1;
  }

  .nav--bar {
    background-color: var(--color-primary);
    position: fixed;
    display: inline-block;

    align-items: right;
    z-index: 9;
    width: 0;
  }
  .nav--container__mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 90vw;
    transition: all 0.5s ease-in-out;
    background-color: white;
    height: 7rem;
    z-index: 90;
    ul {
      list-style: none;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-block: 2.7rem;
      margin-right: 1rem;
      li {
        display: inline-block;
        font-family: var(--ff-heading);
        padding-block: 0;
        width: auto;
        text-align: right;
        border-bottom: none;
        // min-width: 115.7px;
        a {
          color: black;
          text-decoration: none;
          width: auto;
          z-index: 9;
          margin-left: 1rem;
        }
      }
    }
    transition: opacity 0.5s;
    z-index: 6;
  }

  // Burger menu

  .menu-btn {
    display: none;
  }

  // SECTION hero section

  .hero--container {
    h1,
    p,
    .line {
      top: 40vh;
      color: white;
      font-family: var(--ff-heading);
    }
    h1 {
      font-size: 6vw;
    }
    p {
      font-size: 3vw;
      margin-top: 8rem;
    }
    .line {
      margin-top: 25vh;
      height: 15vh;
    }
    .img--wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      transform-style: preserve-3d;
      z-index: -1;

      img {
        object-fit: cover;
        max-width: 33.333333vw; // 32.89%
        min-height: 75vh;
        filter: grayscale(0%);
        overflow: cover;
      }
      .back-ground__img-wrapper {
        background-color: pink;
        width: 33.333333vw;
        height: 100%;
        position: absolute;
        left: 33.333333vw;
        background-image: url(/images/hero-girl-img.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top;
        background-size: 80%;
        img {
          display: none;
        }
      }
      .desk--top__imgs {
        display: inline;
        filter: grayscale(70%);
      }
    }
  }

  // SECTION info block one

  .sweat {
    width: clamp(2rem, 65vw, 35rem);
  }

  // SECTION info block two RESULTS

  .feature--block {
    // position: absolute;
    // background-color: var(--color-secondary);
    margin-left: clamp(-23rem, -7vw, -30rem);
    height: clamp(2rem, 73vw, 41rem);
    max-width: clamp(33vw, 50vw, 40rem);

    // z-index: -2;
  }

  .results {
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // text-align: centre;
    .desktop--img {
      display: inline;
    }
    .mobile--img {
      display: none;
    }
    img {
      // position: relative;
      margin: 4rem 2vw;
      // text-align: left;

      max-width: clamp(20vw, 100vw, 50rem);
      min-height: 20vw;
      // z-index: 4;
    }
    .info--container {
      border-top: none;
      margin-top: -10rem;
      margin-left: 20vw;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      justify-content: center;
      // position: relative;
      // background-color: var(--color-primary);
      top: -5rem;
      z-index: 5;
      height: 50%;
      width: 50%;
      min-width: 30rem;
      max-width: 500px;
      .results--heading {
        margin-top: 2rem;
        font-family: var(--ff-heading);
        max-width: 80%;
        // font-size: 2rem;
        // text-align: center;
        // color: var(--color-secondary);
      }
      .results--info {
        max-width: 80%;
        // margin: 2rem auto 1rem;
        // font-family: "open sans";
        // color: white;
        // text-align: center;
        // line-height: var(--high-lines);
      }
      .btn--results {
        margin: 2rem auto 4rem;
        // border: 2px solid white;
        // background-color: var(--color-primary);
        // color: white;
      }
    }
  }

  // SECTION slider to a grid section

  // Old grid code (I couldn't quite get it to work for some reason)
  /*  .slider--facility {
    // padding-top: 7rem;
    .slider {
      width: 80%;
      height: 650px;
      // margin: 0 auto;
      position: relative;
      top: 2rem;

      overflow: hidden;
      display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      // grid-gap: 2rem;
      grid-template-areas: "landscapepic1 landscapepic1 portratepic1" "portratepic2 landscapepic2 landscapepic2";
      grid-template-rows: 300px;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
    }

    .slide {
      position: relative;
      top: 0;
      height: 100%;
      width: 100%;

      align-items: center;
      justify-content: normal;


      transition: transform 1s;
    }

    .slide > img {

      width: 100%;
      min-height: 20rem;
      max-height: 30rem;
      object-fit: cover;
      overflow: hidden;
    }

    .landscapepic1 {
      grid-area: landscapepic1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }

    .portratepic1 {
      grid-area: portratepic1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
    .landscapepic2 {
      grid-area: landscapepic2;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }

    .portratepic2 {
      grid-area: portratepic2;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }

    .dots {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
    }

    .dots__dot {
      border: none;
      background-color: #b9b9b9;
      opacity: 0.7;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      margin-right: 1.75rem;
      cursor: pointer;
      transition: all 0.5s;


      box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7);
    }

    .dots__dot:last-child {
      margin: 0;
    }

    .dots__dot--active {
      background-color: #fff;
      // background-color: #888;
      opacity: 1;
    }

    .btn--container {
      display: none;
      // display: flex;
      // position: relative;
      // width: 100%;

      // margin-inline: auto;
      // justify-content: space-between;
      // align-items: center;
      // top: calc(
      //   50% - (2rem / 2)
      // ); //2rem is the height of the buttom so this may change.

      .slider__btn {
        // position: absolute;
        // top: 0.8rem;
        // z-index: 5;
        // border: none;
        // background: rgba(255, 255, 255, 0.4);
        // font-family: inherit;
        // color: var(--color-primary);
        // height: 80rem;
        // width: 3rem;
        // font-size: 2rem;
        // cursor: pointer;
      }

      .slider__btn--left {
        // left: 6%;
        // transform: translate(-50%, -50%);
      }

      .slider__btn--right {
        // right: 6%;
        // transform: translate(50%, -50%);
      }
    }
  }
 */

  // My new attempt at making a grid with all the images
  //  TODO Finish the grid so it actually works god dammit!
  .slider--facility {
    // padding-top: 7rem;
    .slider {
      width: 90%;
      height: auto;
      margin: 0 auto;
      position: relative;
      top: 2rem;
      /* IN THE END */
      overflow: hidden;

      display: grid;
      grid-template-columns: 3fr;
      grid-template-areas:
        "landscapepic1 landscapepic1"
        "landscapepic2 landscapepic2";
      // grid-template-columns: 1fr;
      grid-gap: 2rem;
    }

    .slide {
      position: relative;
      top: 0;
      width: 40vw;

      display: inline;
      align-items: center;
      justify-content: center;

      /* THIS creates the animation! */
      transition: transform 1s;
    }

    .slide > img {
      /* Only for images that have different size than slide */
      display: inline;

      max-width: 40vw;
      min-height: auto;
      max-height: auto;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .dots {
      // position: absolute;
      // bottom: 1rem;
      // left: 50%;
      // transform: translateX(-50%);
      display: none;
    }

    .dots__dot {
      // border: none;
      // background-color: #b9b9b9;
      // opacity: 0.7;
      // height: 1rem;
      // width: 1rem;
      // border-radius: 50%;
      // margin-right: 1.75rem;
      // cursor: pointer;
      // transition: all 0.5s;

      // /* Only necessary when overlying images */
      // box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7);
    }

    .dots__dot:last-child {
      // margin: 0;
    }

    .dots__dot--active {
      // background-color: #fff;
      // // background-color: #888;
      // opacity: 1;
    }

    .btn--container {
      display: none;
      // position: relative;
      // width: 100%;

      // margin-inline: auto;
      // justify-content: space-between;
      // align-items: center;
      // top: calc(
      //   50% - (2rem / 2)
      // ); //2rem is the height of the buttom so this may change.

      .slider__btn {
        // position: absolute;
        // top: 0.8rem;
        // z-index: 5;
        // border: none;
        // background: rgba(255, 255, 255, 0.4);
        // font-family: inherit;
        // color: var(--color-primary);
        // height: 80rem;
        // width: 3rem;
        // font-size: 2rem;
        // cursor: pointer;
      }

      .slider__btn--left {
        // left: 6%;
        // transform: translate(-50%, -50%);
      }

      .slider__btn--right {
        // right: 6%;
        // transform: translate(50%, -50%);
      }
    }
  }

  // SECTION our methods section

  .methods {
    padding-top: 15rem;
    // text-align: center;
    position: relative;
    h1 {
position: relative;
top: -3rem;
    }

    // TODO  make this the grey feature block
    .feature--block {
      display: inline-block;
      position: absolute;
      top: 20rem;
      left: 22rem;
      min-width: 85vw;
      height: 20rem;
      background-color: pink;
    }

    img {
      width: 20vw;
      // max-height: 25rem;
      // object-fit: cover;
      // margin-top: 2rem;
      // height: auto;
    }
    .desktop--img {
      display: block;
      margin: 0 auto;
      margin-top: 2rem;
    }
    h2 {
      // margin-block: 2rem 0.5rem;
      // font-family: var(--ff-heading);
    }
    p {
      // max-width: 80%;
      // margin: 0 auto;
      // font-family: var(--ff-main);
      // line-height: 1.7rem;
    }

    .methods--grid__container {
      display: grid;
      grid-template-columns: repeat(4, minmax(25vw, 1fr));
      grid-gap: 0rem;
    }
    .btn--our__classes {
      background-color: white;
      color: var(--color-primary);
      border: 2px solid var(--color-primary);
      margin-top: 5rem;
    }
    .btn--our__classes:hover {
      background-color: var(--color-primary);
      color: white;
    }
  }

  // SECTION contact us section

  .contact--section__wrapper {
    padding-top: 7.4rem;

    // background image before the contact form
    .background--img {
      // background-image: url(/images/yoga.jpeg);
      // background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: left;
      background-size: 65%;

      width: 80vw;
      height: 50vh;
      margin-top: 3rem;
    }

    .contact--section {
      // background-color: var(--color-primary);
      width: 40%;
      margin: -10vh 40vw 0;

      // text-align: center;
      .section--heading {
        // color: var(--color-secondary);
        // padding: 2rem;
      }
    }
  }

  // SECTION buisiness details footer

  .gym--details {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    padding-top: 2rem;
    background-color: var(--color-primary);
    color: var(--color-white);

    .details {
      margin-top: 0;
      margin-inline: 0.2rem;
    }
    h3 {
      font-family: var(--ff-heading);
    }
    p {
      font-family: var(--ff-main);
      margin-top: 1rem;
      line-height: 1.5rem;
      font-size: clamp(0.1rem, 1rem, 3rem);
    }

    .logo {
      display: flex;
      flex-direction: column;
      align-items: left;

      max-width: 15vw;
      margin-top: 0;
      img {
        width: 100%;
      }
      .socials--wrapper {
        margin-left: 1.6rem;
        margin-top: 1.5rem;
        a {
          color: white;
          font-size: 2rem;
        }
        .fa-instagram {
          position: relative;
          left: 2rem;
        }
      }
    }

    .nav--details {
      display: block;
      ul {
        list-style: none;
        margin-top: 1rem;
        a {
          color: var(--color-white);
          text-decoration: none;
          font-family: var(--ff-main);
          line-height: 2rem;
        }
      }
    }
  }
}
